html, body {
    font-family: sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    border: none;
}

ul {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

textarea {
    font-family: inherit;
    resize: vertical;
}

.accent-red {
    --accent-color: oklch(76% 0.14 30deg);
    --accent-color-light: oklch(99% 0.07 30deg);
}

.accent-yellow {
    --accent-color: oklch(76% 0.14 90deg);
    --accent-color-light: oklch(99% 0.07 90deg);
}

.accent-green {
    --accent-color: oklch(76% 0.14 140deg);
    --accent-color-light: oklch(99% 0.07 140deg);
}

.accent-blue {
    --accent-color: oklch(76% 0.14 230deg);
    --accent-color-light: oklch(99% 0.07 230deg);
}

.accent-purple {
    --accent-color: oklch(76% 0.14 300deg);
    --accent-color-light: oklch(99% 0.07 300deg);
}

.accent-pink {
    --accent-color: oklch(76% 0.14 340deg);
    --accent-color-light: oklch(99% 0.07 340deg);
}

* {
    print-color-adjust: exact;
}

@page {
    margin: 0;
}

main {
    padding: 1rem 0;
    background: white;
    max-width: 60ch;
    border-left: 12px solid var(--accent-color);
    border-radius: 1px;
    outline: 2px solid white;
    box-shadow: 0 0 0 6px #333;

    @media print {
        margin: 2rem;
    }

    transform: translateY(0) scale(1.0);
    transition: transform 0.15s ease-out;
}

main.pre-anim {
    transform: translateY(100vh) scale(0.3);
}

input[type="text"], textarea, select {
    background: none;
    border: 2px solid #333;
    outline: none;

    &:focus {
        border: 2px solid #000;
        outline: 2px solid var(--accent-color);
    }
}

input[type="submit"] {
    margin: 1rem;
    padding: 1rem;
    font-size: 120%;
    cursor: pointer;
    background: #333;
    color: #fff;
    transition: all 0.2s ease-in-out;

    &:hover {
        background: var(--accent-color);
    }
}

.wrapper {
    background: var(--accent-color-light);
    display: flex;
    flex-direction: row;
    place-content: center;
    place-items: center;
    min-height: 100vh;
    transition: background-color 0.2s ease-in-out;
    font-size: 120%;
    padding: 1rem;

    @media print {
        background: white;
        width: 100%;
        height: 100%;
        position: absolute;
        inset: 0;
    }
}
