@tailwind base;
@tailwind components;
@tailwind utilities;

.accent-red {
    --accent-color: #fd8c7b;
}

.accent-yellow {
    --accent-color: #d0ae32;
}

.accent-green {
    --accent-color: #7fc76f;
}

.accent-blue {
    --accent-color: #30c0f8;
}

.accent-purple {
    --accent-color: #bf9bfc;
}

.accent-pink {
    --accent-color: #eb8ccd;
}

@layer base {
    * {
        print-color-adjust: exact;
    }

    @page {
        margin: 0;
    }

    main {
        @apply bg-white m-4 print:m-16 max-w-[80ch] md:w-[80ch] rounded shadow print:shadow-none;
    }

    h1 {
        @apply text-3xl p-4;
    }

    input[type="text"], textarea, select {
        @apply bg-none outline outline-1 outline-black rounded;
    }

    input[type="submit"] {
        @apply outline outline-1 outline-black rounded;
    }
}

@layer components {
    .wrapper {
        @apply flex flex-col place-content-center place-items-center min-h-screen print:h-full print:w-full print:absolute print:top-0 print:left-0;
        @apply transition-colors duration-500;
    }

    .form-row {
        @apply flex flex-row px-4 py-2 items-center;
    }

    .form-row > label, .form-col > label {
        @apply inline-block w-24 text-xl;
    }

    .form-row > select {
        @apply px-4 py-2 shadow;
    }

    .form-row > input {
        @apply grow shadow px-4 py-2 ;
    }

    .form-col {
        @apply flex flex-col px-4 py-2 items-start gap-4;
    }

    .form-col > textarea {
        @apply shadow w-full;
    }
}