.sign-form {
  z-index: 20;

  h1 {
    font-size: 200%;
    padding: 0.5rem 1rem;
  }
}

.sidebar {
  z-index: 10;
  max-width: 30rem;
  transition: transform 0.1s ease-out;
  transform: translateX(0) scale(1.0);
  border-radius: 0.25rem;
  outline: 4px solid #333;
  background: white;

  &.pre-anim {
    transform: translateX(-100%) scale(0.7);
    opacity: 0;
  }
}

h2.sign-list-title {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
}